/* Write your CSS below. Try to make it responsive (i.e. no horizontal scroll) */
body{
    font-family: Source Sans Pro, sans-serif;
    background-color: #f7f7f7;
    text-align: center;
}
#sec-a{
    background-color: white;
    border: none;
}
header{
    width: auto;
    height: auto;
    background-color: white;
    display: inline-block;
    text-align: left;
}
#img-1{
    width: 60px;
    height: 50px;
    position: absolute;
    left: 0; 
    
}
.head-1{
    text-align: right;
    padding:1em;
    margin-top: -20px;
    position: absolute;
    right: 0;
    
}
.catogery{
    text-decoration: none; 
    color: black;
    padding: 1em;
}
figcaption{
    display:inline-block;
    margin-bottom: 40px;
    position: absolute;
}
#cart-btn{
    background-color:#ed4b74;
    font-weight:bold;
    border: none;
    color: white;
    width: 200px;
    height: 40px;
}
h6{
    font-size: 20px;
}
article{
    border-bottom: 1px solid gray; 
    text-align: left;
    margin-left: 40px; 
}
#about{
    border-bottom: 1px solid gray;
    text-align: left;
    margin-left: 40px;
}
figure{
    border-bottom: 1px solid gray;
    margin-bottom: 40px;
    text-align: left;
}
footer{
    text-align: left;
    margin-left: 40px; 
}
